<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cpprestsdk.v141" version="2.10.12.1" targetFramework="native" />
  <package id="Microsoft.Web.WebView2" version="0.8.270" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.190610.2" targetFramework="native" />
</packages>